body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
}

h1,
h2,
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

img {
    display: block;
    margin: 20px auto;
    width: 200px;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

table {
    border-collapse: collapse;
    border: 2px solid #fff;
    margin: 20px auto;
    width: 80%;
}

th {
    background-color: rgb(9, 152, 152);
    color: white;
    padding: 10px;
}

td {
    background-color: rgb(128, 207, 200);
    color: white;
    padding: 10px;
}

td,
th {
    text-align: center;
    border: 1px solid #fff;
}

marquee {
    border-radius: 10px;
    background-color: rgb(9, 60, 67);
    color: white;
    padding: 10px;
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;

}